* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body {
  width: 100%;
  background: linear-gradient(to right, rgb(115, 0, 255), rgb(255, 64, 0));;
}

main {
  padding: 2rem 1rem;
  width: 80%;
  margin: auto;
}

.page-title {
  margin-bottom: 3rem;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.scores-header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.scores-title {
  display: inline-block;
}

.refresh-btn {
  padding: 0 0.5rem;
}

.refresh-btn:hover {
  padding: 0.6rem;
  background: rgb(209, 206, 28);
}

.refresh-btn:active {
  padding: 0.6rem;
  background: rgb(28, 209, 37);
}

.scores-list {
  border: 2px solid black;
  list-style: none;
}

.list-item {
  padding: 0.5rem;
}

.list-item:nth-child(even) {
  background: #ddd;
}

.name-text {
  display: inline-block;
  width: 40%;
}

.score-text {
  display: inline-block;
}

.score-container {
  width: 40%;
}

.form-container {
  width: 40%;
}

.form-title {
  margin-bottom: 1rem;
}

.add-score-form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.submit-btn {
  align-self: flex-end;
  box-shadow: 3px 3px;
}

.submit-btn:hover {
  padding: 0.6rem;
  background: rgb(209, 206, 28);
}

.submit-btn:active {
  padding: 0.6rem;
  background: rgb(28, 209, 37);
}
